
.red-b { color:#aa0060; font-weight:bold } 
.red { color:#aa0060 } 
.bg-salmon { background-color:#FA8072; } 
.bg-ltred { background-color:#DB7093; } 
.bg-steelblue { background-color:#4682B4; } 
.bg-ltsteelblue { background-color:#B0C4DE; } 
.bg-yellow { background-color:#f6ff00; } 
.bg-ltyellow { background-color:#fafcb6; } 
.bg-orange { background-color:#ff9100; } 
.bg-orange { background-color:#ffdbac; } 